{% assign page_title = page.title | default: site.title %}
{% if page.title %}
  {% assign full_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% else %}
  {% assign full_title = site.title %}
{% endif %}
{% assign page_description = page.description | default: page.excerpt | default: site.description | markdownify | strip_html | strip_newlines | escape_once %}
{% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}

<title>{{ full_title | markdownify | strip_html | strip_newlines | escape_once }}</title>
<meta name="description" content="{{ page_description }}">
<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:locale" content="{{ site.locale | default: "en" }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page_title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:url" content="{{ canonical_url }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.author.name | jsonify }},
  "url": {{ site.url | jsonify }},
  "image": {{ "/images/profile.png" | prepend: site.url | jsonify }}
}
</script>
